{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
    }
  },
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "globals": {
    "benchmark": true,
    "chai": true,
    "expect": true,
    "suite": true
  },
  "rules": {
    "max-len": ["error", 120, 4, {"ignoreComments": true}],
    "arrow-parens": 0, //для удобной записи, где нужно реально показать что это параментр, чтобы не запутаться, и для случаев где не нужно оборачиваться в скобочки
    "no-nested-ternary": 0, //в основном записи "? :" очень простые, в несколько строк для понятия, поэтому сложностей не вызывают
    "no-multi-spaces": 0, //для красоты необходимо
    "no-multiple-empty-lines": 0, //нужно для наглядного визуального разделения кусков кода
    //    "no-trailing-spaces": ["error", { "skipBlankLines": true }], //линии нужня для отделения логических кусков кода
    "class-methods-use-this": 0, //иногда в рендерах не используется this, но в будущем может переделываться, поэтому нужно оставлять их не статиками
    "arrow-body-style": 0 //методы render должны единообразно выглядеть, если даже в них один return
  }
}
